body {
   font-family: 'IBM Plex Serif', serif;
   background: url(../img/hintergrund-15153169874fa.jpg);
   color: rgb(0, 255, 0);
   height: 100%;
      
      display: flex;
      
}
a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   
}