body {
   font-family: 'IBM Plex Serif', serif;
   background: url(../img/hintergrund-15153169874fa.jpg) no-repeat fixed ;
   color: rgb(0, 255, 191);
   height: 100%;
      
      display: flex;
      
}
a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   
}
.front {
   border: 6px double rgb(247, 247, 247) ; /* Параметры границы */
   border-collapse: collapse;
   padding: 15px; /* Поля вокруг текста */
   width: auto;
   display: inline;
  }
  s {
     color: red;
  }
  hr {
   width: 190px;
     
  }