.first a{
   color: green;
}
.first span{
   color: red;
   font-weight: 900;
   font-size: 20px;
   margin-left: 5px;
   margin-right: 5px;
}
div a:hover{
   color: red;
}
.first {
   margin-top: 70px;
}
table a{
   color: green;
}
table a:hover{
   color: red;
}
.two{
   
   margin-top: 50px;
   clear: both;
}
.two td{
   border-right: solid red;
   padding-left: 5px;
   padding-right: 5px;
}
.three a{
   color: green;
}
.three div{
   float: left;
   border-right: solid red;
   
   padding-left: 5px;
   padding-right: 5px;
}
.three{
   margin-top: 50px;
}
